<div id = "card-marker">
    <%= link_to campervan_path(campervan) do %>
  <img src="<%= cl_image_path campervan.photo %>" class = card-inner-img>
  <% end %>
    <div class = "card-marker-content">
      <div class = "card-marker-basic">
        <div class ="card-marker-title">
      <%= link_to campervan_path(campervan) do %>
        <h5> <%= campervan.name  %></h5>
        <% end %>
      </div>
        <h6> Sleeps: <%= campervan.sleeps  %></h6>
        </div>
        <div class = "card-marker-price">
        <p> $ <%= campervan.daily_price  %> per day</p>
        </div>
    </div>
</div>
