<%= render 'partials/navbar' %>
<%= render 'partials/banner' %>
<div class="main-container">
  <div class="cards">
    <% @campervans.each do |campervan| %>
      <div class="card">
      <%= link_to campervan_path(campervan) do %>
        <div class="card-img" style="background-image: url('<%= cl_image_path campervan.photo %>')">
        </div>
        <% end %>
        <div class="main-card-content">
          <div class = "main-card-title">
              <h3><%= link_to campervan.name, campervan_path(campervan.id) %></h3>
            <div class ="main-card-basic">
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= campervan.location %></p>
              <p><i class="fas fa-users"></i> Sleeps: <%= campervan.sleeps %></p>
              <p><i class="fas fa-shuttle-van"></i> Belted seats: <%= campervan.belted_seats %></p>
             <p><i class="fas fa-bed"></i> Bed type: <%= campervan.bed_type %></p>
            </div>
            </div>
            <div class="main-card-price">
            <p>$<%= campervan.daily_price %>/day</p>
          </div>
      </div>
      </div>
    <% end %>
  </div>
  <div
    id="map" class= "index-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_KEY"] %>">
  </div>
</div>
<div>
<%= render 'partials/footer' %>
</div>
