<%= render 'partials/navbar' %>
<%= render 'partials/banner' %>
<div class="main-container">
  <div class="cards">
    <% @campervans.each do |campervan| %>
      <div class="card">
        <img src="<%= cl_image_path campervan.photo %>" class="card-img-top" alt="Image Van">
        <h3><%= link_to campervan.name, campervan_path(campervan.id) %></h3>
        <ul style="list-style: none">
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= campervan.location %></li>
          <li>$<%= campervan.daily_price %>/day</li>
          <li>sleeps: <%= campervan.sleeps %></li>
          <li>belted seats: <%= campervan.belted_seats %></li>
          <li>bed type: <%= campervan.bed_type %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <div
    id="map" class= "index-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_KEY"] %>">
  </div>
</div>
<%= render 'partials/footer' %>
