<%= render 'partials/navbar' %>
<div class="container">
  <h1 class="booktitle">List your Van</h1>
  <%= simple_form_for @campervan do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :belted_seats %>
    <%= f.input :bed_type %>
    <%= f.input :sleeps %>
    <%= f.input :daily_price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to "Back to List", campervans_path, class: 'btn btn-light' %>
  <% end %>
</div>

<%= render 'partials/footer' %>
