
 <div class="container">
  <div class="card">
    <img src="<%= cl_image_path @campervan.photo %>" class="card-img-top" alt="Image Van">
    <h3><%= @campervan.name %></h3>
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @campervan.location %></li>
      <li>$<%= @campervan.daily_price %>/day</li>
      <li>sleeps: <%= @campervan.sleeps %></li>
      <li>belted seats: <%= @campervan.belted_seats %></li>
      <li>bed type: <%= @campervan.bed_type %></li>
    </ul>
    <% if policy(@campervan).edit? %>
      <%= link_to "Edit", edit_campervan_path(@campervan), class: 'btn btn-outline-primary' %>
    <% end %>
    <% if policy(@campervan).destroy? %>
      <%= link_to "Delete", campervan_path(@campervan), method: :delete, class: 'btn btn-outline-danger', data: {confirm: "Are you sure?"}  %>
    <% end %>
    <%= link_to "Back to List", campervans_path, class: 'btn btn-light'  %>
  </div>
 </div>
