
 <div class="container">
  <% unless current_user == @campervan.user %>
    <h1>Book <%= @campervan.name %></h1>
    <%= simple_form_for [@campervan, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Book now", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <div class="card show-card">
  <img src="<%= cl_image_path @campervan.photo %>" class="card-img-top" alt="Image Van">
    <h3><%= @campervan.name %></h3>

    <ul style="list-style: none">
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @campervan.location %></li>
      <li>$<%= @campervan.daily_price %>/day</li>
      <li>sleeps: <%= @campervan.sleeps %></li>
      <li>belted seats: <%= @campervan.belted_seats %></li>
      <li>bed type: <%= @campervan.bed_type %></li>
    </ul>
    <% if policy(@campervan).edit? %>
      <%= link_to "Edit", edit_campervan_path(@campervan), class: 'btn btn-outline-primary' %>
    <% end %>
    <% if policy(@campervan).destroy? %>
      <%= link_to "Delete", campervan_path(@campervan), method: :delete, class: 'btn btn-outline-danger', data: {confirm: "Are you sure?"}  %>
    <% end %>
    <%= link_to "Back to List", campervans_path, class: 'btn btn-light'  %>
  </div>
  <% @campervan.reviews.each do |review| %>
  <div>
    <p>Rating: <span class="fa fa-star checked"></span><%= review.rating %></p>
    <p><%= review.description %></p>
  <% end %>
  </div>
 </div>

  <div id="map" class="show-map" style="width: 100%; height: 600px;
    "data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_KEY'] %>"></div>

