<%= render 'partials/navbar' %>
<br>
<div class="container">
<h1 class="booktitle">My Bookings</h1>
</div>
<div class="cards w-75 mx-auto">
  <% @bookings.each do |booking| %>
  <div class="cards d-flex flex-column w-100" style="width: 18rem;">
    <div class="card-img" style="background-image: url('<%= cl_image_path booking.campervan.photo %>')">
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= booking.campervan.name %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= "Start date: #{booking.start_date}" %></li>
      <li class="list-group-item"><%= "End date: #{booking.end_date}" %></li>
      <li class="list-group-item"><%= "Total Price: U$ #{booking.total_price},00" %></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"><%= link_to "Show booking", booking_path(booking), class: 'btn btn-outline-secondary d-flex justify-content-center'  %></a>
    </div>
  </div>

  <% end %>
</div>
  <div class="containerb d-flex justify-content-center">
   <%= link_to "Return to main page", campervans_path, class: 'btn btn-outline-secondary d-flex justify-content-center button'  %></div>
<%= render 'partials/footer' %>
