<h1>My Bookings</h1>

<p><% @bookings.each do |booking| %></p>
<img src="<%= cl_image_path booking.campervan.photo %>" class="card-img-top" alt="Image Van">
<p><%= "Start date: #{booking.start_date}" %></p>
<p><%= "End date: #{booking.end_date}" %></p>
<p><%= "Total Price: U$ #{booking.total_price},00" %></p>
<%= link_to "Show booking", booking_path(booking), class: 'btn btn-outline-secondary'  %>

<% end %>
