<h1>Booking</h1>

<p><%= "Campervan photo: #{@booking.campervan.photo}" %></p>
<p><%= "$ #{@booking.total_price} is the total price" %></p>
<p><%= "start date: #{@booking.start_date}" %></p>
<p><%= "end date: #{@booking.end_date}" %></p>
<p><%= "Campervan owner: #{@booking.campervan.user.name}" %></p>
<p><%= "Location: #{@booking.campervan.location}" %></p>
<p><%= "Campervan name: #{@booking.campervan.name}" %></p>
<p><%= "Sleeps: #{@booking.campervan.name} people" %></p>
<p><%= "Bed type: #{@booking.campervan.bed_type}" %></p>


<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
