<%= render 'partials/navbar' %>

<div class="container">
  <h1 class="booktitle">Your Booking</h1>
  <img src="<%= cl_image_path @booking.campervan.photo %>" class="card-img-top" alt="Image Van">
  <br>
  <br>

  <p><strong>Total price :</strong> <%= @booking.total_price %></p>
  <p><strong>Start date :</strong> <%= @booking.start_date %></p>
  <p><strong>End date :</strong> <%= @booking.end_date %></p>
  <p><strong> Campervan owner : </strong><%= @booking.campervan.user.name %></p>
  <p><strong> Location :</strong> <%= @booking.campervan.location %></p>
  <p><strong> Campervan name : </strong><%= @booking.campervan.name %></p>
  <p><strong> Sleeps :</strong> <%= @booking.campervan.name %> people </p>
  <p><strong> Bed type :</strong> <%= @booking.campervan.bed_type %></p>

  <% if Date.today > @booking.end_date %>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :rating, collection: (1..5) %>
      <%= f.input :description %>
      <%= f.submit "Add a Review", class: "btn btn-primary d-flex justify-content-center" %>
    <% end %>
  <% end %>
<br>
<div class="containerb"><%= link_to "Return to main page", campervans_path, class: 'btn btn-outline-secondary d-flex justify-content-center'  %>
  <br>
<%= link_to "Go to your bookings", bookings_path, class: 'btn btn-outline-secondary d-flex justify-content-center'  %>
</div>

<%= render 'partials/footer' %>
